*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

	background-image: url("wallpaper.jpg");
	font-family: sans-serif;
}


.container{

	width: 98.5vw;
	height: 100vh;
	display: grid;
	grid-template-areas: "u u u" 
						 "l c r"
						 "f f f"
	;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr 6fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 40px;
	font-size: 40px;


}

.navs{

	background: linear-gradient(180deg,rgb(57, 3, 252),rgb(136, 3, 252));
	border: 3px solid white;
	border-radius: 15px;
}

.nav-up{

	grid-area: u;
	width: 90%;
	height: 170px;
	justify-self: center;
	margin-top: 30px;
	border-radius: 30px;
	position: relative;

}

.nav-lista{

	display: grid;
	list-style-type: none;
	grid-template-columns: repeat(4, 25%);
	font-size: 2rem;
	user-select: none;
	justify-items: ;
	
}

.nav-item{

	text-decoration: none;
	color: white;
	background: rgb(0, 158, 21);
	padding: 8px;
	box-shadow: 0 4px rgb(0, 110, 17);
	position: relative;
	top: 30px;
	left: 10px;
}

.nav-item:hover{
	transition: 0.25s;
	background: rgb(0, 112, 15);
	box-shadow: 0 0 rgb(0, 110, 17);
	top: 32px;
}

.titulo{

	margin: 0;
	padding: 0;
	width: 350px;
	font-size: 50px;
	margin-top: 13px;
	border: solid 1px white;
	color: white;

}

.nav-left{
	grid-area: l;
	text-align: center;
	margin-left: 10px;
}

.nav-center{

	grid-area: c;
	padding: 5rem;

}

.nav-right{
	grid-area: r;
	text-align: center;
	margin-right: 10px;
}

.footer{

	grid-area: f;
	margin-top: 3rem;
	text-align: center;

	
}


@media only screen and (max-width: 800px){

	.container{

		grid-template-areas: "u" "l" "c" "r" "f";
		grid-template-columns: 1fr;

	}

	.div-left{

		margin-top: 20rem;
		margin-bottom: 20rem;
	}	

	.div-right{

		margin-top: 20rem;
		margin-bottom: 20rem;

	}
}



