*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url("wallpaper.jpg");
	font-family: sans-serif;
}




.container{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas: "u u u" 
						 "l c r"
						 "f f f"
	;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr 6fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 40px;
	font-size: 40px;
}

h1 {
	font-size: 50px;
}

.navs{
	background: linear-gradient(180deg,rgb(57, 3, 252),rgb(136, 3, 252));
	border: 3px solid white;
	border-radius: 15px;
}

.nav-up{
	display: flex;
    flex-flow: column;

	grid-area: u;
	width: 90%;
	height: 170px;
	justify-self: center;
	margin-top: 30px;
	border-radius: 10px;
	position: relative;
}

.nav-box { 
	width: 100%;
	flex-grow: 1;
    flex-basis: auto;
}

.nav-lista{
	display: grid;
	list-style-type: none;
	grid-template-columns: repeat(2, 50%);
	font-size: 2rem;
	height: 100%;
	user-select: none;
	justify-items: center;
	align-self: end;
	align-items: end;
}

.nav-item{
	display: grid;
	text-decoration: none;
	color: white;
	background: rgb(0, 158, 21);
	padding: 8px;
	box-shadow: 0 4px rgb(0, 110, 17);
	margin-bottom: 10px;
	transition: 0.25s;
	max-width: max-content;
}

.list-items-div { 
	display: flex;
	gap: 10px;
	justify-self: start;
	margin-left: 10px;
}

.list-items-div2 { 
	display: flex;
	gap: 10px;
	justify-self: end;
	margin-right: 10px;
}

.nav-item:hover{
	background: rgb(0, 112, 15);
	box-shadow: 0 0 rgb(0, 110, 17);
	top: 32px;
}

.titulo-limiter{
	display: grid;
	justify-content: center;
	color: white;
	flex-grow: 0;
    flex-basis: auto;
}

.titulo {
	margin-top: 5px;
	padding: 5px;
	border: 1px solid white;
	transition: .25s;
}

.nav-left{
	grid-area: l;
	text-align: center;
	margin-left: 10px;
}

.nav-center{
	grid-area: c;
	padding: 20px;
}

.nav-right{
	grid-area: r;
	text-align: center;
	margin-right: 10px;
}

.footer{
	grid-area: f;
	margin-top: .3rem;
	text-align: center;
}


@media only screen and (max-width: 800px){
	.container{
		grid-template-areas: "u" "l" "c" "r" "f";
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
	}

	.div-left{
		margin-top: 20px;
		margin-bottom: 20px;
		max-height: max-content;
	}	

	.div-right{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 530px){
	.nav-item {
		padding: 8px;
		font-size: 20px;
	}

	.titulo{
		font-size: 26px;
	}

	.navs{
		font-size: 26px;
	}

	.nav-up {
		height: 140px;
	}

	.nav-left {
		margin: 0;
	}

	.nav-right{
		margin: 0;
	}
}

@media only screen and (max-width: 375px){
	.nav-item {
		padding: 8px;
		font-size: 12px;
	}

	.titulo{
		font-size: 18px;
	}

	.navs{
		font-size: 18px;
	}

	.nav-up {
		height: 110px;
	}

	.nav-left {
		margin: 0;
	}

	.nav-right{
		margin: 0;
	}
}



